src/main/mule/hellodeploy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7fa6faba-2db8-4751-9599-94ac07384a1e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hellodeployFlow" doc:id="638cb2e7-0058-4631-ae05-7a4455a02f09" >
		<http:listener doc:name="/demo" doc:id="8a483394-6335-44b3-83fb-f8e1db42cc06" config-ref="HTTP_Listener_config" path="/demo"/>
		<logger level="INFO" doc:name="payload" doc:id="671a6fde-6dbe-41b0-bacb-6af1f4576621" message="#[payload]"/>
		<set-payload value="Successfully call! Have a nice day!" doc:name="Set Payload" doc:id="970a85e8-657a-4196-9f27-e9483a8eca82" />
	</flow>
</mule>
